body{
    font-family: Verdana;
    text-align: center;
    font-size: 1em;
}

#myButton{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;
} 

.myLabels{
    font-size: 3em;
    margin: 20px;
}